:root {
    --primary-light: #f5f5f5;
    --primary-dark: #010325;
    --secondary-light: #f0f0f0;
    --secondary-dark: #00182c;
    --text-shadow: 1.5px 2px 2.5px #3e4386;

  }

body {
    font-family: 'Noto Sans Hebrew', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-dark);
    letter-spacing: 1.5px;
}
/*------NAVIGATION------*/
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-dark);
}

.nav-container {
    background-color: var(--primary-dark);
    font-size: 2rem;
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    background-color: var(--primary-dark);
    text-shadow: var(--text-shadow);
    text-decoration: none;
    color: var(--secondary-light);
    font-size: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 1rem;
    padding: 5px;
    max-width: 100%;
    width: 100%;
}

.navbar h1 {
    display: flex;
    width: 100%;
    color: orangered;
}

.navbar h1:hover {
  cursor: pointer;
  font-size: 1.55rem;
  text-shadow: var(--text-shadow);
  transition: 0.125s;
}

.navlink {
    margin: 5px 10px;
    font-size: 1.2rem;
    text-decoration: none;
    text-shadow: var(--text-shadow);
    color: var(--secondary-light);
}

.navlink:hover {
    cursor: pointer;
    font-size: 1.25rem;
    transition: 0.125s;
}

.menu-btn {
    background-color: var(--primary-dark);
    text-shadow: var(--text-shadow);
    color: var(--secondary-light);
    border: none;
    font-size: 1.2rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 1rem;
    padding: 5px;
    
}

.menu-btn:hover {
    font-size: 1.3rem;
    cursor: pointer;
    transition: 0.125s;
}

.bar {
  display: block;
  width: 25px;
  height: 5px;
  margin: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--primary-light);
}


/*------HERO SECTION------*/
.hero-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 80%;
    margin: 5% auto;
}

.hero-img {
    max-width: 1080px;
    width: 100vw;
    position: relative;
    z-index: 0;
    max-height: 100%;
    height: 100vh;
}

.hero-text {
    font-size: 1.2rem;
    color: #ffff;
    text-shadow: var(--text-shadow);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 80%;
    margin: auto 1.5rem;
    padding: 10px;
    text-align: center;
    z-index: 1;
  }
  
  /*------OFFER SECTION------*/
  .offer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 5% auto;
  }

  .offer-img {
    height: 50vh;
    width: 40vw;
  }

  .offer {
    display: block;
    justify-content: center;
    align-content: center;
    margin-left: 0.8rem;
    padding: 5px;
    width: 40vw;
    color: #ffff;
    text-shadow: var(--text-shadow);
    font-size: 1.8rem;
  }

  .offer p {
    font-size: 1.5rem;
  }
  .offer-btn {
    padding: 10px;
    color: var(--secondary-light);
    text-shadow: var(--text-shadow);
    background-color: var(--secondary-dark);
    border-radius: 4%;
    font-size: 2.5rem;
    font-weight: 600;
  }

  .offer-btn:hover {
    font-size: 2.55rem;
    border-color: var(--primary-dark);
    cursor: pointer;
    transition: 0.125s;
  }

  /*------PRICING------*/

  .pricing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: 5% auto;
  }

  .pricing-container h3 {
    color: var(--secondary-light);
    --text-shadow: 1.5px 2px 2.5px #3e4386;
    font-size: 1.5rem;
  }

  .pricing-container p {
    color: var(--secondary-light);
    --text-shadow: 1.5px 2px 2.5px #3e4386;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pricing-container p button {
    font-size: 1.2rem; 
    padding: 0.25rem 0.5rem; 
  }

  .pricing-container p button:hover {
    font-size: 1.5rem; 
    cursor: pointer; 
    transition: 0.125s;
  }

  .pricing-cards-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .pricing-card {
    flex: 1;
    margin: 5px;
    border: 5px solid #3e4386;
    border-radius: 5%;
    text-align: center;
    background-color: var(--primary-dark);
  }
  
  .pricing-card h3 {
    font-size: 2.5rem;
    margin: 1.5rem;
    text-shadow: var(--text-shadow);
  }
  
  .pricing-card p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: var(--secondary-light);
  }
  
  .pricing-card button {
    background-color: #3e4386;
    color: var(--secondary-light);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    margin-bottom: 15px;
  }

  .pricing-card button:hover {
    cursor: pointer;
    font-size: 1.2rem;
    border: 1px 2px #3e4386;
    border-radius: 4px;
    transition: 0.125s;
  }

/*------CONTACT------*/

.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 5% auto;
  }
  
  .map {
    flex: 1;
    margin-right: 2rem;
  }
  
  .contact-info {
    flex: 1;
    margin-right: 2rem;
  }
  
  .contact-info h3 {
    color: var(--secondary-light);
  }
  
  .contact-info ul {
    list-style-type: none;
    padding: 0;
  }
  
  .contact-info li {
    margin-bottom: 1rem;
    color: var(--secondary-light);
  }
  
  .contact-form {
    flex: 1;
  }
  
  .contact-form h3 {
    color: var(--secondary-light);
  }
  
  .contact-form form {
    display: grid;
    gap: 1rem;
  }
  
  .contact-form label {
    color: var(--secondary-light);
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 0.5rem;
  }
  
  .contact-form button {
    padding: 10px;
    color: var(--secondary-light);
    text-shadow: var(--text-shadow);
    background-color: var(--secondary-dark);
    border-radius: 4%;
    font-size: 1rem;
    font-weight: 600;
  }

  .contact-form button:hover {
    text-shadow: var(--text-shadow);
    background-color: var(--secondary-dark);
    border-radius: 4%;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.125s;
  }

  /*------FOOTER------*/

  .footer-container {
    background-color: var(--primary-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: var(--secondary-light);
    font-size: 1rem;
  }
  
  .footer-container p {
    margin: 0;
  }

  .back-to-top {
    text-decoration: none;
    color: var(--secondary-light);
    transition: 1.25s;
    display: flex;
    justify-content: center;
    align-items: center; 
   }

  .back-to-top:hover {
    cursor: pointer;
  }
  
  .social-links {
    display: flex;
  }
  
  .social-links a {
    display: inline-block;
    margin-right: 1rem;
  }
  
  .social-links img {
    width: 30px;
    height: 30px;
  }
  
  /* ------------ Media queries ------------ */
  
    /* Updated styles for navigation */
  @media only screen and (max-width: 768px) {
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: var(--primary-dark);
      width: 100%;
  }
  
  .nav-container {
      display: none;
  }
  
  .logo {
      background-color: var(--primary-dark);
      text-shadow: var(--text-shadow);
      text-decoration: none;
      color: var(--secondary-light);
      font-size: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;;
  }
  
  .navbar h1 {
      display: none;
  }
    /* Updated styles for hero section */

  .hero-text {
    font-size: 1rem;
    margin: 15px;
  }
    /* Updated styles for offer section */
    .offer-container {
      display: flexbox;
      flex-direction: column;
      justify-items: center;
      align-items: center;
    }
    .offer-img {
      margin-bottom: 10px;
      height: 50vh;
      width: 80vw;
    }
  
    .offer {
      margin-top: 10px;
      padding: 5px;
      width: 80vw;
      color: #ffff;
      text-shadow: var(--text-shadow);
      font-size: 1.8rem;
    }
  
    .offer p {
      font-size: 1.2rem;
    }
    .offer-btn {
      padding: 5px;
      color: var(--secondary-light);
      text-shadow: var(--text-shadow);
      background-color: var(--secondary-dark);
      border-radius: 4%;
      font-size: 1.5rem;
      font-weight: 400;
    }
  
    .offer-btn:hover {
      font-size: 1.55rem;
      border-color: var(--primary-dark);
      cursor: pointer;
      transition: 0.125s;
    }

    /* Updated styles for pricing section */

    .pricing-container {
      display: flexbox;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 80%;
      margin: 5% auto;
    }
  
    .pricing-container h3 {
      color: var(--secondary-light);
      --text-shadow: 1.5px 2px 2.5px #3e4386;
      font-size: 1.2rem;
    }
  
    .pricing-container p {
      color: var(--secondary-light);
      --text-shadow: 1.2px 2px 2.5px #3e4386;
      font-size: 1.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .pricing-container p button {
      font-size: 1.2rem; 
      padding: 0.25rem 0.5rem;
      margin-right: 5px; 
    }
  
    .pricing-container p button:hover {
      font-size: 1.3rem; 
      cursor: pointer; 
      transition: 0.125s;
    }
  
    .pricing-cards-container {
      display: flexbox;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
    }
    
    .pricing-card {
      flex: 1;
      margin: 10px;
      border: 5px solid #3e4386;
      border-radius: 5%;
      text-align: center;
      background-color: var(--primary-dark);
    }
    
    .pricing-card h3 {
      font-size: 2.5rem;
      margin: 1.5rem;
      text-shadow: var(--text-shadow);
    }
    
    .pricing-card p {
      font-size: 1.2rem;
      margin-bottom: 20px;
      color: var(--secondary-light);
    }
    
    .pricing-card button {
      background-color: #3e4386;;
      color: var(--secondary-light);
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      font-size: 1rem;
      margin-bottom: 15px;
    }
  
    .pricing-card button:hover {
      cursor: pointer;
      font-size: 1.2rem;
      border: 1px 2px #3e4386;
      border-radius: 4px;
      transition: 0.125s;
    }
  
    /* Updated styles for contact section */

    .contact-container {
      display: flexbox;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80%;
      margin: 5% auto;
    }
    
    .map {
      display: none;
    }
    
    .contact-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 10px;
    }
    
    .contact-info h3 {
      color: var(--secondary-light);
    }
    
    .contact-info ul {
      list-style-type: none;
      padding: 0;
    }
    
    .contact-info li {
      margin-bottom: 1rem;
      color: var(--secondary-light);
    }
    
    .contact-form {
      flex: 1;
    }
    
    .contact-form h3 {
      color: var(--secondary-light);
    }
    
    .contact-form form {
      display: grid;
      gap: 1rem;
    }
    
    .contact-form label {
      color: var(--secondary-light);
    }
    
    .contact-form input,
    .contact-form textarea {
      width: 100%;
      padding: 0.5rem;
    }
    
    .contact-form button {
      padding: 10px;
      color: var(--secondary-light);
      text-shadow: var(--text-shadow);
      background-color: var(--secondary-dark);
      border-radius: 4%;
      font-size: 1rem;
      font-weight: 600;
    }
  
    .contact-form button:hover {
      text-shadow: var(--text-shadow);
      background-color: var(--secondary-dark);
      border-radius: 4%;
      font-size: 1.2rem;
      cursor: pointer;
      transition: 0.125s;
    }

}
  
    /* Updated styles for footer */
  
  